#MNEMONIC=choose vibrant quote furnace goose goat spread oblige thank scissors stumble segment
PROVIDER_URL=wss://rinkeby.infura.io/ws/v3/7480cbb73c7d4bd4933527b0de354d85
API_URL=https://elite.looklabs.xyz
#API_URL=// 'https://5ecyjtdaw5.execute-api.us-east-1.amazonaws.com/cyber/1'